@model BookStoreWeb.Models.ViewModels.ProductVM

@{
    var title = Model.Product.Id != 0 ? "Update" : "Create";
    ViewData["Title"] = title;
}

<h1>@title Product</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden>
    <input asp-for="Product.ImagePath" class="form-control" hidden>
    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label asp-for="Product.Name" class="form-label"></label>
                <input onkeyup="ChangeToSlug()" asp-for="Product.Name" class="form-control">
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Product.Slug" class="form-label"></label>
                <input asp-for="Product.Slug" class="form-control">
                <span asp-validation-for="Product.Slug" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label asp-for="Product.Price" class="form-label"></label>
                <input asp-for="Product.Price" class="form-control">
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Product.SalePrice" class="form-label"></label>
                <input asp-for="Product.SalePrice" class="form-control">
                <span asp-validation-for="Product.SalePrice" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label for="uploadImage" class="form-label">Image Upload:</label>
                <input id="uploadImage" type="file" name="imageFile" class="form-control">
            </div>
            <div class="col-6">
                <img width="150" src="@Model.Product.ImagePath" />
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label asp-for="Product.CategoryId" class="form-label"></label>
                <select asp-for="Product.CategoryId" asp-items="@Model.selectListCategories" class="form-control">
                    <option selected disabled>--- Select Category ---</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="Product.AuthorId" class="form-label"></label>
                <select asp-for="Product.AuthorId" asp-items="@Model.selectListAuthors" class="form-control">
                    <option selected disabled>--- Select Author ---</option>
                </select>
                <span asp-validation-for="Product.AuthorId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label asp-for="Product.ReleaseDate" class="form-label"></label>
                <input asp-for="Product.ReleaseDate" class="form-control">
                <span asp-validation-for="Product.ReleaseDate" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Product.Description" class="form-label"></label>
        <textarea rows="2" asp-for="Product.Description" class="form-control"></textarea>
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        @if (title == "Create")
        {
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary"><i class="bi bi-arrow-right-short"></i> Create</button>
        }
        else
        {
            <button type="submit" class="btn btn-warning"><i class="bi bi-arrow-right-short"></i> Update</button>
        }
        <a asp-controller="Product" asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-short"></i> Back to list</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script src="~/js/generate-slug.js"></script>

    <script>

        //tinymce.init({
        //    selector: 'textarea',
        //    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
        //    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        //    tinycomments_mode: 'embedded',
        //    height: 300
        //});

        // Tinymce editor
        tinymce.init({
            selector: 'textarea',
            plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons',
            imagetools_cors_hosts: ['picsum.photos'],
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            toolbar_sticky: true,
            autosave_ask_before_unload: true,
            autosave_interval: "30s",
            autosave_prefix: "{path}{query}-{id}-",
            autosave_restore_when_empty: false,
            autosave_retention: "2m",
            image_advtab: true,
            content_css: '//www.tiny.cloud/css/codepen.min.css',
            link_list: [
                { title: 'My page 1', value: 'http://www.tinymce.com' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_list: [
                { title: 'My page 1', value: 'http://www.tinymce.com' },
                { title: 'My page 2', value: 'http://www.moxiecode.com' }
            ],
            image_class_list: [
                { title: 'None', value: '' },
                { title: 'Some class', value: 'class-name' }
            ],
            importcss_append: true,
            file_picker_callback: function (callback, value, meta) {
                /* Provide file and text for the link dialog */
                if (meta.filetype === 'file') {
                    callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
                }

                /* Provide image and alt text for the image dialog */
                if (meta.filetype === 'image') {
                    callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
                }

                /* Provide alternative source and posted for the media dialog */
                if (meta.filetype === 'media') {
                    callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
                }
            },
            templates: [
                { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
                { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
                { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
            ],
            template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
            template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
            height: 300,
            image_caption: true,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_noneditable_class: "mceNonEditable",
            toolbar_mode: 'sliding',
            contextmenu: "link image imagetools table",
        });


        

        // Validate upload image
        function ValidateInput() {
            var uploadImageValue = document.getElementById("uploadImage").value;

            if (uploadImageValue == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!'
                });
                return false;
            }
            return true;
        }
    </script>
}
