@model Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Category</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Slug" class="form-label"></label>
        <input asp-for="Slug" class="form-control">
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <div class="slect-status d-flex">
            <div class="d-inline-block me-4">
                <div class="input-group-text">
                    <label class="form-label">Active:</label>
                    <div class="m-2">
                        @Html.RadioButtonFor(m => m.Status,"true")
                    </div>
                </div>
            </div>
            <div class="d-inline-block me-2">
                <div class="input-group-text">
                    <label class="form-label">Deactive:</label>
                    <div class="m-2">
                        @Html.RadioButtonFor(m => m.Status,"false")
                    </div>
                </div>
            </div>
        </div>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning"><i class="bi bi-arrow-right-short"></i> Submit</button>
    <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-left-short"></i> Back to list</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
